/* reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  scroll-behavior: auto;
}

.auto-height {
  height: auto !important;
}
.text-align-left {
  text-align: left;
}
/* Common */
.visible-overflow {
  overflow: visible !important;
}

.block {
  display: block !important;
}

.visible {
  display: visible !important;
}

.text-white {
  color: #fff !important;
}

.pull-right {
  float: right !important;
  width: min-content !important ;
}

.clear-float {
  clear: both;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

.col-3 {
  width: 33.3333%;
}

.col-2 {
  width: 50%;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  margin-bottom: 15px;
  border: none;
}

.btn:hover {
  color: #000;
  background-color: rgb(204, 204, 204);
  cursor: pointer;
}

/* End common */
/* 
1.From outside in 
2.Top down approach
3.General to detail */

/* 
1.Position
2.Size(Width, height))
3.Color
4.Design
*/

#main {
}

#header {
  background-color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  height: 46px;
}

ul {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
  position: relative;
}

#nav li a {
  color: #fff;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
  text-transform: uppercase;
}

#nav li:hover > a {
  background-color: #ccc;
  color: #000;
  display: block;
}
#nav li:hover .subnav {
  display: block;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
  min-width: 160px;
  top: 100%;
  left: 0;
}
#nav li .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
}

#nav .subnav a {
  display: block;
  background-color: #fff;
  color: #000;
  text-transform: capitalize;
  padding-left: 16px;
  line-height: 38px;
}

#header .hamburger-btn,
#header .search-btn {
  color: white;
  font-size: 20px;
  float: right;
  height: 46px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .hamburger-btn {
  display: none;
}

#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}
#slider {
  margin-top: 46px;
  padding-top: 50%;
  background: url("/assets/img/chicago.jpg") no-repeat top center/cover;
  position: relative;
}

#slider .slider-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding-bottom: 47px;
  text-align: center;
}

#slider .slider-text h2 {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 24px;
}

#slider .slider-text p {
  font-size: 15px;
}

#content {
}

.content-section {
  margin: auto;
  max-width: 800px;
  padding: 64px 0 126px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

.content-section .section-heading {
  font-size: 30px;
  font-weight: 500;

  letter-spacing: 4px;
  margin: 10px auto;
}

.content-section .section-sub-heading {
  font-size: 15px;

  margin: 15px auto;
  font-style: italic;
  opacity: 0.5;
}

.content-section .about-text {
  text-align: justify;
  margin: 15px auto;
}
#content .member-list {
  padding: 32px 0px;
  height: auto;
}

#content .member-name {
  margin-bottom: 15px;
}
#content .member-img {
  width: 60%;
  border-radius: 4px;
}

.tour-section {
  background-color: #000;
}

.ticket-list {
  background-color: #fff;
  text-align: left;
}

.ticket-list li {
  padding: 8px 16px;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
  padding: 0 8px;
  height: 22px;
  background-color: red;
  color: #fff;
  margin-left: 16px;
}
.ticket-list .quantity {
  width: 24px;
  height: 22px;
  background-color: #000;
  color: #fff;
  float: right;
  text-align: center;
  border-radius: 50%;
  margin-right: 16px;
  padding: 0 8px;
}

/* Copy */

.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.6;
}
/* Copy */
.place-list {
  margin-top: 32px;
  margin-bottom: 48px;
}

.place-text {
  text-align: left;
  padding: 0 16px;
  line-height: 1.5rem;
}

.place-list .place-text {
  background-color: #fff;
  overflow: hidden;
  font-size: 15px;
  font-weight: 500;
}

.place-list .place-text .place-name {
  font-size: 15px;
  font-weight: 600;
}
.place-name {
  margin-top: 15px;
}
.place-time {
  margin-top: 15px;
  color: #757575;
}
.place-desc {
  margin-top: 15px;
  margin-bottom: 16px;
}

.map-section img {
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 100px;
  z-index: 2;
  display: none;
}

.modal.open {
  display: flex;
}
.modal-container {
  background-color: white;
  max-width: 100%;

  position: absolute;
  /* transform: translateX(-50%); */
  left: 50px;
  right: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  animation: modalFaceIn ease 0.5s;
}

.top-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 16px;
  color: #ccc;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
}

.top-close-btn:hover {
  color: #000;
  background-color: #ccc;
}

.contact-content {
  margin-top: 32px;
  margin-bottom: 32px;
}

.contact-content input {
  width: 100%;
}

.contact-info {
  font-size: 18px;
}
.contact-info a {
  color: #184df2;
  opacity: 0.8;
}

.contact-info a:hover {
  opacity: 1;
}
.contact-info i[class*="fa-"] {
  display: inline-block;
  width: 30px;
}

.contact-form {
  font-size: 15px;
}

.form-control {
  border: 1px solid #ccc;
  padding: 8px;
}

/* footer */
#footer {
  height: 216px;
  padding: 64px 16px;
  text-align: center;
  opacity: 0.6;
  color: #000;
}
#footer i {
  font-size: 24px;
}

#footer i:hover {
  opacity: 0.3;
  cursor: auto;
}
#footer p {
  margin: 15px auto;
  font-size: 15px;
}

#footer a {
  color: inherit;
}

#footer {
  background-color: #f1f1f1;
}
/* modal */
.modal-header {
  text-align: center;
  background-color: rgb(0, 150, 136);
  color: #fff;
  font-size: 30px;
  height: 129px;
  vertical-align: center;
  line-height: 129px;
  letter-spacing: 4px;
}

.modal-body {
  padding-left: 16px;
  padding-right: 16px;
}

.modal-body label {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}

.modal-body input {
  width: 100%;
  padding: 8px;
  margin-bottom: 24px;
}

#buy-ticket {
  margin: 16px 0;
  padding: 16px;
  width: 100%;
  text-transform: uppercase;
  background-color: rgb(0, 150, 136);
  color: white;
  border: none;
  cursor: pointer;
} 

#buy-ticket:hover {
  opacity: 0.9;
}

.help-link {
  width: 100%;
  text-align: right;
  padding-bottom: 22px;
  font-size: 15px;
}

.help-link a,
.help-link a :visited {
  color: #2196f3;
}

@keyframes modalFaceIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

/* 
PC >= 1024px;
Table 740px -> 1024x;
mobile <740px
 */

/* responsive */
